# # RAG pipeline
# langchain==0.2.16
# langchain-community==0.2.16
# # langchain-ollama==0.1.3
# chromadb==0.5.5
# sentence-transformers==3.1.1
# rank_bm25==0.2.2

# # PDF parsing
# pdfplumber==0.11.4

# # UI
# streamlit==1.38.0

# # Utilities
# python-dotenv==1.0.1
# pydantic==2.9.2
# tqdm==4.66.5

# # LLM
# groq==0.9.0

langchain==0.3.25
langchain-community==0.3.24
chromadb==0.5.5
sentence-transformers==3.1.1
rank_bm25==0.2.2
groq==0.9.0
pdfplumber==0.11.4
streamlit==1.38.0
python-dotenv==1.0.1
pydantic==2.9.2
tqdm==4.66.5